.section-04 {
  background: linear-gradient(#5c4a8e, #ffffff 30%, #fff);
  padding: 100vh 0 150vh;
  width: 150%;
  height: 100vh;
  overflow: hidden;
  position: relative;

  > h1 {
    color: rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 70px;
    right: -30px;
    transform: rotate(-90deg);
    font-weight: 900;
    font-family: "PyeongChangPeace";
  }

  .rectangle {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;

    &.default {
      opacity: 1;
    }

    &.true {
      opacity: 1;
    }

    transition: opacity 0.4s;
  }

  .contents {
    display: none;
    position: fixed;
    height: 80vh;
    top: 10vh;
    left: 30px;
    flex-direction: column;
    row-gap: 28px;

    .item {
      height: 20vh;
      display: flex;
      flex-direction: column;
      flex-shrink: 1;

      .title {
        display: flex;
        width: max-content;
        height: calc(20vh - 30px);
        align-items: center;
        flex-shrink: 1;
        svg {
          height: 100%;
          width: auto;
        }
      }

      .tags {
        font-family: "Elice DX Neolli";
        color: rgba(255, 255, 255, 0.8);
        display: flex;
        column-gap: 24px;
        margin-left: 10px;
      }
    }
  }

  .modal {
    width: calc(100% - (110px * 2));
    height: calc(100vh - 60px);
    position: fixed;
    top: 60px;
    left: 110px;
    z-index: 2;
    background-color: #fff;
    color: #000;
    box-shadow: 0 4px 10px 6px rgba(0, 0, 0, 0.25);

    overflow-y: auto;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .button-box {
    opacity: 0;

    .button {
      position: fixed;
      right: 50px;
    }

    .close {
      top: 80px;
      &:hover path {
        fill: #7d57b7;
      }
    }
    .github {
      top: 140px;
      &:hover path {
        fill: #7d57b7;
      }
    }
    .url {
      top: 200px;
      &:hover circle {
        fill: #7d57b7;
      }
    }
  }
}
