body {
  background-color: black;
  color: white;
  margin: 0;
  font-family: "GmarketSansMedium";
}

a {
  text-decoration: none;
  color: white;
  cursor: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
